:root {
    background-size: cover;
  }
  
  @media (max-width: 480px) {
    :root {
      background-image: url('../crew/background-crew-mobile.jpg');
    }
  }
  @media (min-width: 481px) and (max-width: 1024px) {
    :root {
      background-image: url('../crew/background-crew-tablet.jpg');
    }
  }
  @media (min-width: 1025px) {
    :root {
      background-image: url('../crew/background-crew-desktop.jpg');
    }
  }
  