:root {
  background-size: cover;
}

@media (max-width: 480px) {
  :root {
    background-image: url('../home/background-home-mobile.jpg');
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  :root {
    background-image: url('../home/background-home-tablet.jpg');
  }
}
@media (min-width: 1025px) {
  :root {
    background-image: url('../home/background-home-desktop.jpg');
  }
}
